body{
  background-color: #f7adc6;
}
.logo{
  height:auto;
  width: auto;
}
.bg-dark {
    background-color: #fff79a!important;
}
.navbar-dark .navbar-brand {
    color: black;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: black;
}
.navbar-dark .navbar-nav .nav-link {
    color: black;
}
.btn-outline-dark {
    color: #dd1f58;
    border-color: black;
}
.carousel-inner img {
  margin: auto;
  width: 500px;
  height: 627px;
}
h1{
  margin: auto;
}
h2{
  margin: auto;
}
.prev, .next {
  color: red;
}
.modal-backdrop {
   background-color: Purple;
}
.btn-primary {
    color: red;
    background-color:;
    border-color: black;
}
